## Importing Data

In [1]:
import pandas as pd

In [2]:
train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")

In [3]:
train_df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

## Preparing Data

In [4]:
def preprocess(df):
    df = df.drop(["PassengerId","Name","Ticket","Cabin"], axis=1)
    df = df.fillna(0)
    for n,item in enumerate(df["Sex"]):
        if item == "male":
            df["Sex"][n] = 0
        elif item == "female":
            df["Sex"][n] = 1
        else:
            df["Sex"][n] = 2 #Just in case
    for n,item in enumerate(df["Embarked"]):
        if item == "C":
            df["Embarked"][n] = 0
        elif item == "Q":
            df["Embarked"][n] = 1
        elif item == "S":
            df["Embarked"][n] = 2 
        else:
            df["Embarked"][n] = 3 #Just in case
    df_feat = df.iloc[:,1:]
    df_class = df.iloc[:,0]
    return df_feat, df_class

In [5]:
train_df_feat, train_df_class = preprocess(train_df)
test_df_feat, test_df_class = preprocess(test_df)
train_df_feat.head(10)

/home/vinicius/.local/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/vinicius/.local/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/vinicius/.local/lib/python3.6/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/vinicius/.local/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/home/vinicius/.local/lib/python3.6/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/home/vinicius/.local/lib/python3.6/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   Pclass Sex   Age  SibSp  Parch     Fare Embarked
0       3   0  22.0      1      0   7.2500        2
1       1   1  38.0      1      0  71.2833        0
2       3   1  26.0      0      0   7.9250        2
3       1   1  35.0      1      0  53.1000        2
4       3   0  35.0      0      0   8.0500        2
5       3   0   0.0      0      0   8.4583        1
6       1   0  54.0      0      0  51.8625        2
7       3   0   2.0      3      1  21.0750        2
8       3   1  27.0      0      2  11.1333        2
9       2   1  14.0      1      0  30.0708        0

In [6]:
train_df_class.head(10)

0    0
1    1
2    1
3    1
4    0
5    0
6    0
7    0
8    1
9    1
Name: Survived, dtype: int64